* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    background-color: rgb(65, 74, 86);
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    max-width: 80%;
    background-color: rgb(65, 74, 86);
    margin: 0 auto;
    padding: 0 3rem;
}

.container>* {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    flex-direction: column;  
}

h1 {
    font-size: 3rem;
    color: white;
    padding: 2rem 0;
}

h2 {
    font-size: 2.3rem;
    padding: 3rem 0;
}

.hidden {
    display: none;
}

/* BUTTONS */
.btn {
    width: 20rem;
    font-size: 2rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    text-align: center;
    border: 0.2rem solid black;
    text-decoration: none;
    color: white;
    background-color: rgb(150, 216, 47);
    font-weight: 700;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform .2s;
}

/* END */

#end {
    flex-direction: column;
    height: 100vh;
}